/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    text-align: center;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	width: 60%;
}

button {
    text-align: center;
}